.ipynb_checkpoints/
data/.ipynb_checkpoints/
png_images/.ipynb_checkpoints/
env/
tests/__pycache__/
__pycache__/
.vscode/
data/
*tmp*
png_images/long_run.png
experiments.ipynb
*.jpeg
more_png_images/
qoi_images/
debug_png_images/
debug_code/
opencv_benchmarks.py
*.python-version
dist/
qoi_compress.egg-info/
build/
venv*/
.mypy_cache